body {
     background-color:#578497;
}
h1 {
    font-family:Helvetica;
    font-size:300%;
    text-align: center;
    color: white;
}
h2 {
    font-family:Helvetica;
    font-size:180%;
    text-align: left;
    color: white;
    margin-bottom:0px;
}
h3   {
     font-family:"Segoe UI",Arial,Verdana,sans-serif;
     color: black;
     text-align: center;
     margin-bottom:0px;
}
h4   {
     font-family:"Segoe UI",Arial,Verdana,sans-serif;
     color: black;
     text-align: center;
     margin-top:0px;
     font-weight:normal;
}
p    {
     color:black;
     font-size:100%;
}
main{
     text-align: center;
}
.boatbox div.container{
     position:relative;
     display: inline-block;
     vertical-align: middle;
     width: 320px;
     /* min-height:150px;*/
     /* max-height:200px; */
     height: 180px;

     border: 1px solid gray;
     margin: 10px;
     background-color:#FFFFFF;
     -moz-box-shadow:    10px 10px 10px 0px #416473;
     -webkit-box-shadow: 10px 10px 10px 0px #416473;
     box-shadow:         10px 10px 10px 0px #416473;
     overflow:hidden;
}
.boatbox div.container a{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     text-decoration: none; /* No underlines on the link */
     z-index: 10; /* Places the link above everything else in the div */
     background-color: #FFF; /* Fix to make div clickable in IE */
     opacity: 0; /* Fix to make div clickable in IE */
     filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.overflowshadow{
     position: absolute;
     left: 0px;
     top: 0px;
     z-index: 1;
     width: 320px;
     height: 180px;
}
.overflow_indicator{
     position: absolute;
     bottom:0px;
     left:50%;
     background-color:#FFFFFF;
     border: 1px solid gray;
     z-index: 2;
}
.boatbox div.content{
     padding: 10px;
     text-align: left;
}
.boatbox p{
     font-size:80%;
     font-family:sans-serif;
}
img.icon-laser {
     float: right;
     margin: 0 0 0 0;
     height: 64px;
}
